.center {        
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 120px;
  height: 110px;

}

#iskalnik {
    text-align: center;
    display: block;
    margin-left: 375px;
    margin-right: auto;
    margin-top: 25px;
    width: 500px;
    
}


#button {
    display: inline-block;
    margin-left: 510px;
    margin-right: auto;
    color: gray;
    background-color: #e9e9e9;
    border-radius: 2px;
    height: 35px;
    width: 115px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    margin-top: 30px;
}

#button:hover {
    color: black;
    border: solid gray 1px;
}

#button2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: gray;
    background-color: #e9e9e9;
    border-radius: 2px;
    height: 35px;
    width: 115px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    
}

#button2:hover {
    color: black;
    border: solid gray 1px;
}

#spodaj {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    color: gray;
    font-family: arial;
    font-size: 13px;
    margin-top: 270px;
    position: fixed;
    width: 100%;
    border: 1px #e4e4e4 solid;
    left: 0;
    
    
}

.levo {
    float: left;
}

.desno {
    float: right;
}

li {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#zgoraj {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: black;
    margin-top: 0px;
    font-size: 13px;
    font-family: arial;
    
}

li {
    float: right;

}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.avatar {
    width: 33px;
    height: 33px;
    margin-top: -7px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.material-icons {
    margin-top: -5px;
}

.material-icons:hover {
    color: black;
}
